@import url('https://fonts.googleapis.com/css2?family=Splash&display=swap');

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0px;
}
.left-side{
    position: relative;
    width: 40%;
    display: flex;
}

.image{
    position: absolute;
    z-index: -1;
    width:100%;

}

.logo{
    background-color: black;
    opacity: 0.55;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 30px;
    top: 10rem;
    
}
.logo-text{
    color: antiquewhite;
    display: inline;
    align-items: center;
    justify-content: center;
    font-family: 'Splash', cursive;
}